<div class="row justify-content-center m-0 mb-2">
  <div class="col-7">
    <div class="mb-2">
      <%= image_tag @post.user.image, class: "post-user-image" %>
      <span><%=  @post.user.username%></span>
    </div>
    <div class="row justify-content-center">
        <%= render partial: 'shared/image', collection: @post.images %>
    </div>
    <% if user_signed_in? %>
      <%= render 'comments/form' %>
    <% end %>
    <div class="comment-errors text-danger text-center mb-3"></div>
    <div class="comments-div p-3">
      <%= render @comments %>
    </div>
  </div>
</div>
